<!DOCTYPE html>
<html>
<head>
    <title>Transfer Successful</title>
</head>
<body>
    <h1>Ownership Transfer Successful!</h1>
    <p>File ID: <%= fileId %></p>
    <p>New Owner: <%= newOwnerEmail %></p>
    <a href="/transfer/files">Back to your files</a>
</body>
</html>